
.nf-banner {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 1;
  overflow: hidden;

  background-size: cover;
}

.editor .nf-banner {
  width: 100%;
  left: auto;
  right: auto;
  margin: auto;
}


.wp-block[data-type="nf/banner"] {
  clear: both; 
  max-width: 100%;
}

.nf-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
}

.nf-banner.nf-banner--fadeless::before {
  display: none;
}


.nf-banner .nf-banner__inner {
  padding: 20px;  
  color: #fff;
  max-width: var(--wide);
  margin: 0 auto;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 10;

}

.single-service .nf-banner .nf-banner__inner {
  min-height: 20vh;
}

.nf-banner .nf-banner__icon {
  display: block;
  width: 140px;
  margin: 20px 15px -20px;
}


.nf-banner .nf-banner__heading {
  position: relative;
  color: var(--dark);
  font: normal 700 60px/65px soleil, sans-serif;
  font: normal 700 80px/102px soleil, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 200px 15px 0 15px;
}

.nf-banner .nf-banner__icon + .nf-banner__heading {
  margin-top: 40px;
}

.nf-banner .nf-banner__heading::before {
  content: '';
  position: absolute;
  height: 3px;
  background: var(--dark);
  top: calc(50% + 3px);
  /* top: 50%; */
  left: calc(-100vw - 15px);
  width: 100vw;
  width: 80vw;
  opacity: 0;

  transition: all 0.5s ease-in;
}


.nf-banner .nf-banner__heading.visible::before {
  width: 100vw;
  opacity: 1;
}
.nf-banner .nf-banner__heading.invisible::before {
  width: 80vw;
  opacity: 0;
}


.nf-banner .nf-banner__content {
  color: var(--dark);
  margin: 0 15px 40px 15px;
  font: normal 400 20px ltc-bodoni-175, serif !important;
  font: normal 400 27px/35px ltc-bodoni-175, serif !important;
  max-width: 480px;
  max-width: 600px;
}



.nf-banner .wp-block-nf-banner {
  background: darkorange;
  /* padding-bottom: 5px; */
}

.nf-banner .wp-block-nf-banner .richtext {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
}


.wp-block[data-type="nf/banner"] {
  /* clear: both;  */
  /* max-width: 100%; */



  /* width: 100vw; */
  /* position: relative; */
  /* left: 50%; */
  /* right: 50%; */
  /* margin-left: -50vw; */
  /* margin-right: -50vw; */
}

/*
.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
  clear: both; 
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
  margin-left: -14px;
  margin-right: -14px; 
}

@media (min-width: 600px) {
  .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
    margin-left: -58px;
    margin-right: -58px; 
  } 
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"]::before {
  left: 0;
  right: 0;
  border-left-width: 0;
  border-right-width: 0; 
}

.block-editor-block-list__block[data-align="full"] > .block-editor-block-list__insertion-point {
  left: 0;
  right: 0; 
}


 .components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-align="full"],
    .components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-list__breadcrumb[data-align="full"] {
      margin-left: 0; }
*/
