blockquote {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-style: italic;
  background: #AF5E23;
  border-left: 10px solid #4B190F;
  padding: 20px;
  margin: 40px 0;
}

blockquote p {
  color: #fff;
  font-style: italic;
  margin: 0;
}

blockquote a, 
blockquote p a, 
blockquote li a {
  color: #fec057;
  text-decoration-color: #fec057;
  text-decoration: underline;
}
