# Dotenv
.env

# Webpack
site/dist/*
!site/dist/.gitkeep
site/node_modules
site/package-lock.json

# Imports/Exports
data/*
!data/.gitkeep

# Composer
vendor
!mu-plugins/vendor
!plugins/vendor
!themes/vendor

# Misc
scratch
