body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0 !important;
  background: #333;
}

img, svg {
  display: block;
  width: 100%;
}

.layout {
  max-width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.main {
  margin: 90px 0;
  background: #fff;
}

.content {
  position: relative;
  color: #fff;
  padding: 30px;
  max-width: 960px;
  margin: 0 auto;
}


@media (min-width: 768px) { }

