.nf-testimonials {
  width: 100%;
  max-width: 898px;
  margin: 50px auto;
}

.nf-testimonials .slick-dots { 
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}
.nf-testimonials .slick-dots > li { 
  position: relative;
  margin: 0 3px;
  padding: 0;
  display: block;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 25px;
}
.nf-testimonials .slick-dots > li > button { 
  visibility: hidden;
  display: none;
}
.nf-testimonials .slick-dots > li:hover,  
.nf-testimonials .slick-dots > li.slick-active {  
  background: #fff;
}
.nf-testimonial { 
  background: rgba(255,255,255,0.8);
  text-align: center;
}

.nf-testimonial blockquote.nf-testimonial__quote {
  font: normal 400 27px/37px ltc-bodoni-175, serif;
  color: #212121;
  position: relative;
  padding: 50px 15px 0;
  margin: 0;
}

.nf-testimonial blockquote.nf-testimonial__quote p { 
  font: normal 400 20px/30px ltc-bodoni-175, serif;
  color: #212121;
}

@media (min-width: 700px) {
  .nf-testimonial blockquote.nf-testimonial__quote {
    padding: 50px 70px 0;
  }

  .nf-testimonial blockquote.nf-testimonial__quote::before, 
  .nf-testimonial blockquote.nf-testimonial__quote::after {
    position: absolute;
    top: 70px;
    font: normal 400 90px ltc-bodoni-175, serif;
  } 

  .nf-testimonial blockquote.nf-testimonial__quote::before {
    content:"\201C";
    left: 20px;
  }  

  .nf-testimonial blockquote.nf-testimonial__quote::after {
    content:"\201D";
    right: 20px;
  }  

  .nf-testimonial blockquote.nf-testimonial__quote p { 
    font: normal 400 27px/37px ltc-bodoni-175, serif;
  }
}


.nf-testimonial cite.nf-testimonial__cite { 
  display: block;
  font: normal 700 18px/1.4 soleil, sans-serif;
  color: #212121;
  text-transform: uppercase;
  padding: 20px 70px 50px;
}

.nf-testimonial__role { 
  font-size: 16px;
  text-transform: none;
}
