.nf-services {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.nf-services li {
  display: block;
  margin: 0;
  padding: 0;
}

.nf-services li a {
  display: block;
  padding: 0 20px 15px 0;
  color: #ADB4BF;
  font: normal 700 16px/20px soleil, sans-serif;
  text-decoration: none;
}

.nf-services li a:hover,
.nf-services li a.is-active {
  color: #212121;
}

.nf-service-tease {
  background-size: 100%;
  height: 296px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  perspective: 1000px;
  flex: 1;
} 

.nf-service-tease__card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.nf-service-tease__front,
.nf-service-tease__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}

.nf-service-tease__front {
  background-position: 50% 50%;
  background-size: cover;
} 

.nf-service-tease__back {
  transform: rotateY(180deg);
  background: #fff;
  padding: 40px;
}
.nf-service-tease:hover .nf-service-tease__card {
  transform: rotateY(180deg);
}

.nf-service-tease__details {
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.nf-service-tease__icon {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 90px;
  margin: 0 0 10px;
}

.nf-service-tease__heading {
  font: normal 700 36px/36px soleil, sans-serif;
  color: #212121;
  margin: 0 0 15px 0;
}

.nf-service-tease__tagline {
  font: normal 700 16px/16px soleil, sans-serif;
  line-height: 1 !important;
  color: #212121;
  margin: 0;
}


.nf-service-tease__more {
  color: #212121;
  font: italic 400 36px/1 ltc-bodoni-175, serif;
  position: absolute;
  top: 40px;
  right: 40px;
}

.nf-service-tease__more::after {
  display: block;
  content: '';
  width: 18px;
  height: 53px;
  background: transparent url(../../assets/img/layout/arrow.svg) 50% 50% no-repeat;
  position: absolute;
  right: -20px;
  top: -8px;

}

.nf-service-tease__front .nf-service-tease__heading {
  color: #fff;
}


.nf-service-list { padding-top: 50px; }

.hide-img-tag { max-width: none !important; }
.hide-img-tag img { display: none; }
