ul.menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

ul.menu li {
  display: block;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1;
}
ul.menu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  height: 100%;
}
ul.menu li.current a > span,
ul.menu li a:hover > span {
  border-bottom: 2px solid rgba(255,255,255,1);
  border-bottom: 2px solid #FFB040;
}
ul.menu li li a {
  text-transform: none;
}

ul.menu li a span {
  display: inline-block;
  position: relative;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid #FFB04000;
  transition: border-bottom 0.2s;
}

ul.menu li a span::after {
  content: '';
  position: absolute;
  background: var(--dark);
  height: 0px;
  width: 100%;
  bottom: -10px;
  left: 0;
  transition: height 0.2s ease;
}

ul.menu li.current > a > span::after,
ul.menu li.hover > a > span::after,
ul.menu li:hover > a > span::after {
  height: 5px;
}

ul.menu ul.menu {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease;
}

ul.menu li.hover > ul.menu, 
ul.menu li:hover > ul.menu {
  max-height: 46px;
}



ul.side-menu {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
}

ul.side-menu li {
  display: block;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  line-height: 1;
}
ul.side-menu li a {
  display: block;
  position: relative;
  padding: 15px 0;
  text-decoration: none;
  color: #AF5E23;
  font-size: 17px;
  font-weight: 400;
  border-bottom: 1px solid #FFB040;
}
ul.side-menu li li a {
  text-transform: none;
}

ul.side-menu li a::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #FFB040;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: border-width 0.2s ease;
}

ul.side-menu li.current > a::after,
ul.side-menu li.hover > a::after,
ul.side-menu li:hover > a::after {
  border-bottom-width: 4px;
}

ul.side-menu li.current > a,
ul.side-menu li.hover > a,
ul.side-menu li:hover > a {
  font-weight: 800;
}








ul.blog-menu {
  display: block;
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

@media (min-width: 768px) {
  ul.blog-menu { margin-bottom: 45px; }
}

ul.blog-menu li {
  display: block;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  line-height: 1;
}
ul.blog-menu li a {
  display: block;
  position: relative;
  padding: 5px 0 5px 35px;
  text-decoration: none;
  color: #bbb;
  font-size: 16px;
  font-weight: 600;
}
ul.blog-menu li a[href] {
  color: #AF5E23;
}
ul.blog-menu li li a {
  text-transform: none;
}

ul.blog-menu li a::before {
  content: '';
  position: absolute;
  border: 1px solid #bbb;
  border-radius: 25px;
  height: 14px;
  width: 14px;
  left: 0;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

ul.blog-menu li a[href]::before {
  border-color: #AF5E23;
}

ul.blog-menu li.current > a[href]::before,
ul.blog-menu li.hover > a[href]::before,
ul.blog-menu li:hover > a[href]::before {
  background-color: #AF5E23;
}

ul.post-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
ul.post-nav li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.post-nav a {
  display: block;
  font-size: 14px;
  font-weight: 800;
  color: #FFB040;
  border-bottom: 1px solid #FFB040;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
  transition: all 0.3s;
}
ul.post-nav a:hover {
  color: #e3890b;
  border-color: #e3890b;
}
ul.post-nav .hidden {
  visibility: hidden;
}
