.nf-example-dynamic {
  display: relative;
  background: darkorange;
  padding: 10px;
  width: 100%;
}

.wp-block-nf-example-dynamic {
  background: darkorange;
  padding-bottom: 5px;
}

.wp-block-nf-example-dynamic .richtext {
  background: #fff;
  margin: 20px;
  padding: 10px;
}
