# Application
web/app/*
!web/app/site/composer.json
!web/app/uploads/.gitkeep
!web/app/themes/.gitkeep
!web/app/plugins/.gitkeep
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/site.php

# WordPress
web/wp
web/.htaccess

# Git
.git
.gitignore

# Composer
vendor
composer.lock

# Docker
.dockerignore

# Dotenv
.env

# Other
Makefile
README.md
wp-cli.local.yml
scratch
